/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ggsans;
    src: url(./fonts/gg\ sans\ Medium.ttf);
}

body {
    font-family: ggsans;
}

/* HEADER DIMENSIONS */
header {
    width: 100%;
}

/* FOOTER DIMENSIONS */
footer {
    width: 100%;
}

/* SECTIONS DIMENSIONS */
.section {
    width: 100%;
    height: 600px;
}

.section1 {
    width: 100%;

}

.section2 {
    width: 100%;
    height: 1200px;
}

.nav {
    width: 1200px;
    font-size: 20px;
}

.foot {
    width: 65%;
    height: 70%;
}

.foot-buttons {
    font-size: 20px;
    padding: 5px 8px;
}

.box1 {
    width: 50%;
}

.box2 {
    width: 65%;
    height: 80%;
}

.box3 {
    width: 65%;
    height: 90%;
}

.box4 {
    width: 60%;
    height: 100%;
}

/* UTILITY */
.row {
    display: flex;
    flex-wrap: wrap;
}

.span {
    display: inline-block;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.text-align-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.unstyled-list {
    list-style-type: none;
}

.unstyled-list li {
    display: inline-block;
}

.unstyled-list li a {
    color: white;
    text-decoration: none;
}

.line-height {
    line-height: 60px;
}

.line-height-footer {
    line-height: 30px;
}

.p-1 {
    padding: 40px 40px 10px 40px;
}

.p-2 {
    padding: 0 25px 0 10px;
}

.padding-left {
    padding-left: 10px;
}

.padding-right {
    padding-right: 10px;
}

.padding-right-80 {
    padding-right: 200px;
}

.padding-left-65 {
    padding-left: 65px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-5 {
    padding-bottom: 5px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.py-10 {
    padding: 10px 0;
}

.py-15 {
    padding: 15px 0;
}

.py-20 {
    padding: 20px 0;
}

.py-30 {
    padding: 30px 0;
}

.py-40 {
    padding: 40px 0;
}

.px-15 {
    padding: 0 15px;
}

.px-20 {
    padding: 0 20px;
}

.px-100 {
    padding: 0 100px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-100 {
    padding-bottom: 120px;
}

.my-50 {
    margin: 100px 0;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.btn-access {
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    border-style: none;
}

.btn-jumbo {
    background-color: white;
    padding: 15px 25px;
    border-radius: 30px;
    border-style: none;
}

.btn-blue {
    background-color: #7383c5;
    padding: 15px 25px;
    border-radius: 30px;
    border-style: none;
}

.brd-top-foot {
    border-top: 2px solid grey;
}

.dashed {
    border: 2px dashed black;
}

.dashed-white {
    border: 2px dashed white;
}

.col-15 {
    width: 15%;
}

.col-25 {
    width: 25%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

/* COLORS */
.bg-lightgrey {
    background-color: lightgrey;
}

.bg-darkgrey {
    background-color: #1c1f22;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-blue {
    background-color: #255ee9;
}

.bg-azure {
    background-color: rgb(0, 132, 255);
}

.bg-darkpink {
    background-color: rgb(252, 127, 148);
}

.bg-pink {
    background-color: pink;
}

.bg-yellow {
    background-color: rgb(230, 176, 0);
}

.bg-green {
    background-color: green;
}

.bg-tiffany {
    background-color: rgb(14, 189, 180);
}

.bg-lightskyblue {
    background-color: rgb(135, 250, 235);
}

.white {
    color: white;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-23 {
    font-size: 23px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-30 {
    font-size: 28px;
}

.font-size-33 {
    font-size: 33px;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-60 {
    font-size: 60px;
}

.font-size-80 {
    font-size: 60px;
    word-spacing: 5px;
}

.font-size-70 {
    font-size: 55px;
}

.bold {
    font-weight: 600;
}


.bg-jumbo {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-wave-top {
    height: 100px;
    background-image: url(../img/wave.svg);
    background-size: cover;
    filter: brightness(0) saturate(100%) invert(92%) sepia(1%) saturate(15%) hue-rotate(334deg) brightness(95%) contrast(88%);
}

.bg-wave-bottom-grey {
    height: 100px;
    background-image: url(../img/wave.svg);
    background-size: cover;
    transform: rotate(180deg);
    filter: brightness(0) saturate(100%) invert(92%) sepia(1%) saturate(15%) hue-rotate(334deg) brightness(95%) contrast(88%);
}

.bg-star {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.star {
    height: 50px;
    width: 400px;
}

a {
    text-decoration: none;
}

.discord-blue {
    color: #7383c5;
}

.ita {
    width: 30px;
}

.arrow {
    height: 6px;
}

.social {
    height: 25px;
    padding-right: 12px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.gap {
    gap: 5px;
}